streamlit>=1.35.0
streamlit-webrtc>=0.47.0
mediapipe>=0.10.14,<=0.10.21
opencv-python-headless>=4.9.0
numpy>=1.26.0,<2.0.0
pandas>=2.2.0
scikit-learn>=1.4.0
tensorflow>=2.16.0,<2.19.0
requests>=2.31.0